body {
    background: linear-gradient(5deg, #ee7752, #23a6d5, #e73c7e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-position: fixed;
}

.headr {
    height: 15vh;
    top: 0;
    position: sticky;
}

.Body-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #def1f8;
    margin: 0vh 12vh 5vh 12vh;
    border-radius: 15px 15px;
}

p {
    color: rgba(35, 166, 213, 1);
    margin: auto 0vh;
    cursor: pointer;
}

p:hover {
    color: #e73c7e;
}

.sidee {
    padding: 0 2vh;
}

.sidee:hover {
    background-color: white;
    cursor: pointer;
    transition: .5s ease;
}

.side-icns {
    width: 13%;
    object-fit: contain;
    padding: 0;
    margin-right: 4vh;
}

.sidee-container {
    background: linear-gradient(#23a5d56b, #23a5d5, #23a5d5);
    width: 20%;
    border-radius: 15px 0 0 15px;
}

.sidee-container-inner {
    top: 0;
    position: sticky;
}

.sidee-h1 {
    padding: 3.4vh 2vh;
    background-color: #23a6d5;
    margin: 0;
    border-radius: 15px 0 0 0;
    margin-bottom: 5vh;
}

.section-container {
    width: 80%;
}

.section-head {
    top: 0;
    position: sticky;
    background-color: white;
    border-radius: 0 15px 0 0;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.137);
    z-index: 1;
}

.arr {
    padding: 0;
    margin-left: 5vh;
}

.section-body {
    border-radius: 5px;
    margin: 2vh 5vh;
    padding: 3vh;
    background-color: white;
}

/* BODY END */


/* TABLE BEGIN */
.table-container-head {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
    padding: 2vh 3vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.table-container-body {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.styledTR:hover {
    opacity: .5;
}

.TBHead {
    background-color: #23a6d5 !important;
    font-family: "Poppins" !important;
}



@media screen and (max-width: 430px) {
    .headr {
        height: 8vh;
    }

    .Body-container {
        margin: 0 1.5vh;
        flex-direction: column !important;
    }

    .sidee-container {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .sidee-h1 {
        margin-bottom: 0;
        border-radius: 15px 15px 0 0;
    }

    .section-container {
        width: 100%;
    }

    .arr {
        margin-left: 1vh;
    }

    .section-body {
        margin: 1.5vh;
        padding: 1vh;
    }

    /* TABLE BEGINS */
    .table-container-head {
        flex-wrap: wrap;
    }

    .table-container-head:first-child {
        display: inline;
    }

    .MuiBox-root,
    .css-19midj6 {
        padding: .1vh !important;
    }

    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
        font-size: 10px !important;
        max-width: 100% !important;
        flex-wrap: wrap;
    }

}